<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"></link>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet"/>
        <title>Agenda de entrevistas</title>
    </head>

    <body>
        <header>
            <nav>
                <div class="bg-dark text-light p-2">
                    <h2 class="text-center">Agenda de entrevistas</h2>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="w-100 mt-3 mb-4">
                    <h4>Agende una entrevista</h4>
                    <form class="row" th:action="@{/crearEntrevista}" method="post">
                        <div class="col-12 col-sm-4">
                            <label class="mb-2" for="nombrecompleto">Nombre y apellido *</label>
                            <input class="form-control" th:value="${nombre}" name="nombre" id="nombrecompleto" type="text" required>
                        </div>
                        <div class="col-12 col-sm-4">
                            <label class="mb-2" for="fecha">Fecha</label>
                            <input class="form-control" th:value="${fecha}" oninput="entrevistas.validarFechaHora()" name="fecha" id="fecha" type="text" th:attr="min=${#temporals.format(hoy, 'yyyy-MM-dd')}" onblur="(this.type = 'text')" onfocus="(this.type = 'date')"/>
                        </div>
                        <div class="col-12 col-sm-2">
                            <label class="mb-2" for="time">Horario</label>
                            <input class="form-control" th:value="${hora}" name="hora" type="time" id="hora">
                        </div>
                        <div class="col-12 col-sm-2 d-flex justify-content-center p-4">
                            <input class="flex-fill btn btn-success mt-2" onfocus="entrevistas.validarFechaHora()" type="submit" value="Agendar"/>
                        </div>
                    </form> 
                </div>

                <table class="table table-hover">
                    <h4>Su agenda</h4>
                    <thead>
                        <tr>
                            <th>Nombre y apellido</th>
                            <th>Fecha y hora de la entrevista</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:each="entrevista : ${entrevistas}" class="pnt-js-entrevista">
                            <td th:text="${entrevista.nombreEntrevistado}" ></td>
                            <td th:text="${entrevista.fechaPactada == null ? 'A coordinar' : #temporals.format(entrevista.fechaPactada, 'dd-MM-yyyy HH:mm')}"></td>
                            <td>
                                <button class="pnt-js-boton-eliminar-entrevista btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" th:data-entrevista-id="${entrevista.id}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </main>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar Entrevista</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span>¿Está seguro que desea eliminar la entrevista?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger pnt-js-boton-confirmar-eliminar" data-bs-dismiss="modal" id="eliminar">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8cc86c3a0a.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
        <script th:src="@{/js/page/entrevistas.js}"></script>
        <script th:src="@{/js/service/entrevistaService.js}"></script>
    </body>
</html>